{{> head}}
{{> navbar}}
   
   

<div class="row">
    <div class="col-5">
       
        <h1 class="display-4"> Mi amor. Te amo!!  con todo mi corazon </h1>
        <hr class="my-8">
        <p> Siempre juntos amor mio !!!!!</p>
    </div>

    <div class="col-2">

        <img src="assets/img/IMG_0588.jpg" class= "img-thumbnail">
    </div>

    <div class="col-3">

        <img src="assets/img/amor.jpg" class= "img-fluid" alt="Responsive image">
    </div>

</div>  
 {{> footer}}